*.pcap
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.log
*.pdf
*.synctex.gz
features.txt
unsw_nb15_dataset
ACM-Reference-Format.bst
Makefile
README
acmart.bib
acmart.dtx
acmart.ins
acmauthoryear.bbx
acmauthoryear.cbx
acmdatamodel.dbx
acmnumeric.bbx
acmnumeric.cbx
comment.cut
nid_dataset_features_guidelines.out
paper/acm/submitted
scratch
datasets/*/output
.versions
datasets/*/ground_truth/ground_truth
